<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaopeng.funnyhello">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.morgoo.droidplugin.PluginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        插件的代理器，使用框架必须声明
        <activity android:name="com.lody.plugin.LActivityProxy"/>
        <service android:name="com.lody.plugin.service.LProxyService"/>
        -->
        <activity
            android:name=".WelcomePage"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ListDemoActivity"
            android:label="@string/title_activity_list_demo">
            <meta-data
                android:name="category"
                android:value="@string/category_keyguard" />
        </activity>
        <activity
            android:name=".activity.Demo2Activity"
            android:label="@string/title_activity_demo2">
            <meta-data
                android:name="category"
                android:value="@string/category_keyguard" />
        </activity>
        <activity
            android:name=".activity.TouchEventTestActivity"
            android:label="@string/touch_test_title">
            <meta-data
                android:name="category"
                android:value="@string/category_keyguard" />
        </activity>
        <activity
            android:name=".activity.AsyncListActivity"
            android:label="@string/title_activity_async_list">
            <meta-data
                android:name="category"
                android:value="@string/category_keyguard" />
        </activity>
        <activity android:name=".activity.SecurityAnimActivity"
            android:label="@string/title_activity_async_list">
            <meta-data
                android:name="category"
                android:value="@string/category_keyguard" />
        </activity>
    </application>

</manifest>
